.nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .homebutton {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #cc0000;
  }
  
  .my-account-link {
    background-color: #0077b6;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .my-account-link:hover {
    background-color: #005c91;
  }
  .form-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .club-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="file"] {
    margin: 0;
  }
  
  .club-form button[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .club-form button[type="submit"]:hover {
    background-color: #005c91;
  }
  
  /* login styles */
  
  .login-container {
    background-color: #f2f2f2;
    height: 100vh;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .forms {
    display: flex;
    flex-direction: column;
  }
  
  .input_fields {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .form_message {
    text-align: center;
    margin-top: 15px;
  }
  
  .login_link {
    color: #0077b6;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
   /* sign-up styles */
  
   .signup-container {
    background-color: #f2f2f2;
    height: 100vh;
  }
  
  .card-container {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .form-message {
    text-align: center;
    margin-top: 15px;
  }
  
  .login-link {
    color: #0077b6;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  