.parentDiv .bookDetails{
    width:70%;
    margin-left: 16%;
    background-color: white;
    height: 50rem;
}

.parentDiv{
    background-image: url("https://images.pexels.com/photos/3060324/pexels-photo-3060324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    height: 50rem;
}
.parentDiv .firstDiv{
    background-color: #092225;
}

.parentDiv .title{
    background-color: #092225;
    padding: 2px;
    color: #3DB7A2;
    font-size: 20px;
}
.parentDiv .book1 img{
    width:100%;
    height: 25rem;
}
.parentDiv .book1 h2{
    font-family: 'Lato', sans-serif;
    color:white;
    line-height: 0;
    padding: 30px;
    background-color: #092225;
}
.parentDiv .underline1{
    background-color: #3DB7A2;
    height: 3px;
    width:100%;
    line-height: 0;
}
.parentDiv .underline2{
    background-color: #3DB7A2;
    height: 3px;
    width:100%;
}
.parentDiv .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    color:white;
}
.parentDiv .summaryDiv p{
    font-size: 15px;
    width:80%;
    margin-left: 3%;
    color:#092225;
}
.parentDiv .summaryDiv h5{
  border:3px solid #3DB7A2;
  width:59%;
  padding:70px;
  color:#3DB7A2;
  margin-left: 4%;
  background-color: #092225;
}

.parentDiv .summaryDiv{
    display: flex;
    background-color: white;
    overflow-x: hidden;
    
}
.parentDiv .reviewDiv{
    display: flex;
    flex-direction: column;
    border: 2px solid #092225;
    margin-top: 3%;
    margin-left: 1%;
}
.parentDiv .secondDiv textarea{
  border: 1px solid #3DB7A2;
  width:100%;
}
.parentDiv .summaryDiv .summaryDiv1{
    width:50%;
    
}
.parentDiv .summaryDiv1 h2{
    color: #3DB7A2;
}

.parentDiv .secondDiv{
    border: 2px solid #092225;
    padding: 30px;
    margin: 13px;
}

.parentDiv .secondDiv button{
  margin-top: 1rem;
  width:8rem;
}

.parentDiv .socials{
    height:1.5rem;
    width:100%;
    border:1px solid #092225;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parentDiv .socials h3{
    font-size: 14px;
    font-weight: 4px;
    color: #092225;
}

.usernameLocal a{
    color: #092225 !important;
    text-decoration: none;
    font-size: 20px;
}